[package]
name = "yx"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0"
thiserror = "1.0"
clap = { version = "4.4", features = ["derive"] }
walkdir = "2.4"
regex = "1.10"

[profile.release]
strip = true
lto = true
codegen-units = 1
opt-level = "z"
